
:root {
  --head-color:#0583d2;
  --font-color:#16558f;
  --background-color:#b8e3ff;
  --fill-color:#61b0b7;
}  

/* general css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: #333;
}

main{
  padding-left: 1em;
}

img{
  width:60%;
}

h1 {
  font-size: 6cqw;
  margin-bottom: 2em;
}

h2{
  font-size:5cqw;
  max-width: 25ch;
}

h3{
  font-size: 4cqw;
  max-width: 30ch;
}

@media(min-width:900px){

h1 {
  font-size: 4cqw;
}

h2{
  font-size:3.5cqw;
}

h3{
  font-size: 3cqw;
}
}
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

/* header */
header {
  font-size: 2.5cqw;
  padding-bottom: 3em;
}

/* header logo */

#head_logo {
  width: 10%;
}

@media (max-width: 768px) {
  #head_logo {
    width: 15%;
  }
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav_menu {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding-left: 0.4em;
  margin-top: 0.5em;
  background-color:var(--head-color);
}

.head_link:hover{
  color:var(--fill-color);
  transition: 0.7s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--fill-color);
}

/* Responsive styles */
@media (max-width: 1000px) {
  main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  /* navbar styles */
  .nav_menu {
    gap: 30px;
  }
}

@media (max-width: 800px) {
  /*main styles */
  main {
    width: 100%;
    /* max-width: 540px; */
    margin: 0 auto;
  }

  /*navbar styles */
  .nav_menu {
    /* flex-direction: column; */
    background-size: cover;
    position: absolute;
    overflow: hidden;
    left: -200%;
    top: 70px;
    gap: 0;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    font-size: 2em;
  }

  .nav_item {
    margin: 16px 0;
    border-radius: 50%;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(1) {
    translate: 0 8px;
    rotate: 45deg;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    translate: 0 -8px;
    rotate: -45deg;
  }

  .nav_menu.active {
    left: 0;
  }
}

.navbar {
  background-color: var(--head-color);
    color: #fff;
    padding: 10px;
}

.navbar a {
    color: #fff;
    margin-right: 15px;
}

.nav-logo {
  display: inline-block;
  
}

.nav-logo img {
  vertical-align: middle;
  width: 100%;
}


/* home */

.home_ul{
  font-size: 3cqw;
}

.home_li{
  padding-bottom: 0.5em;

}

.home_p{
  font-size: 3cqw;
  padding-bottom: 0.5em;
}

/* categories */

#categories {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 10px;
  padding-left:0;
  padding: 1em;

}

.category {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.akat {
  display: block;
  padding: 10px;
  color: #007bff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.akat:hover {
  background-color: #007bff;
  color: #fff;
}


/* product list */

.grid1-1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media(max-width:768px){
  .grid1-1{
    grid-template-columns: 1fr;

  }
}

article{
  padding-bottom: 3em;
  padding-left: 2em;
}

.special1{
  text-indent: 1rem;
}

@media(min-width:768px){
  .special1{
    font-size: 4cqw;
  }
  .special2{
    font-size: 2cqw;
  }
}


/* product */
dt{
  color: var(--font-color);
  font-size: 5cqw;
}
dd{
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 4cqw;
}

@media(min-width:900px){
  dt{
    font-size: 3cqw;
  }
  dd{
    font-size: 2cqw;
  }
}


.container{
  position: relative;
}

/* dicount */

.discount{
  position: absolute;
  color: #333;
  bottom: 6px;
  left: 0;
  background-color: rgb(255, 68, 68);
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

/* out of stock */
.soldout{
  position: absolute;
  left: 0rem;
  top: 0em;
  color: #333;
  background-color: #807676;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}


.product_img{
  width: 50%;
}

@media(min-width:768px){
  .product_img{
    width: 40%;
  }
}