:root {
  --head-color: #0583d2;
  --font-color: #16558f;
  --background-color: #b8e3ff;
  --fill-color: #61b0b7;
}

/* general css */

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system;
  background-color: var(--background-color);
  color: #333;
}

main {
  padding-left: 1em;
}

img {
  width: 60%;
}

h1 {
  font-size: 6cqw;
  margin-bottom: 2em;
}

h2 {
  font-size: 4cqw;
  max-width: 25ch;
}

h3 {
  font-size: 4cqw;
  max-width: 30ch;
  padding: 0;
  margin: 0;
}

@media (min-width: 900px) {
  h1 {
    font-size: 4cqw;
  }
  h2 {
    font-size: 3.5cqw;
  }
  h3 {
    font-size: 3cqw;
  }
}
a {
  color: #007bff;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header */
header {
  font-size: 4.5cqw;
}
@media (min-width: 768px) {
  header {
    font-size: 3cqw;
  }
}

/* header logo */
#head_logo {
  width: 10%;
}

@media (max-width: 768px) {
  #head_logo {
    width: 15%;
  }
}

.nav-logo {
  display: inline-block;
}

.nav-logo img {
  vertical-align: middle;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  background-color: var(--head-color);
}

.navbar a {
  color: #fff;
  margin-right: 15px;
}

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  background-color: var(--head-color);
}

.head_link:hover {
  color: var(--fill-color);
  transition: 0.7s ease;
}

.hamburger {
  display: none;
}

/* home */
.home_ul {
  font-size: 3cqw;
}

.home_li {
  padding-bottom: 0.5em;
}

.home_p {
  font-size: 3cqw;
  padding-bottom: 0.5em;
}

/* categories */

#categories {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10px;
  padding-left: 0;
  padding: 1em;
}

.category {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.akat {
  display: block;
  padding: 10px;
  color: #007bff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.akat:hover {
  background-color: #007bff;
  color: #fff;
}

.catfont {
  padding-left: 1em;
}

/* product list */

.grid1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .grid1-1 {
    grid-template-columns: 1fr;
  }
}

article {
  padding-bottom: 3em;
  padding-left: 2em;
}

.special1 {
  text-indent: 1rem;
  padding-top: 1em;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .special1 {
    font-size: 4cqw;
  }
  .special2 {
    font-size: 2cqw;
  }
}

/* product */
.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2em;
  gap: 0;
}

@media (max-width: 768px) {
  .grid-1-1 {
    grid-template-columns: 1fr;
  }
}

.container {
  position: relative;
}

/* dicount */

.discount {
  position: absolute;
  color: #333;
  bottom: 6px;
  left: 0;
  background-color: rgb(255, 68, 68);
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

/* out of stock */
.soldout {
  position: absolute;
  left: 0rem;
  top: 0em;
  color: #333;
  background-color: #807676;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.price {
  font-size: 2.5cqw;
  font-weight: bold;
}
@media (max-width: 768px) {
  .price {
    font-size: 5.5cqw;
  }
}
