:root {
  --head-color:#0583d2;
  --font-color:#16558f;
  --background-color:#b8e3ff;
  --fill-color:#61b0b7;
  --font2-color:#333;
}  

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system;
    background-color: var(--background-color);
    color: var(--font2-color);
}

main{
    padding-left: 1em;
}

img{
  width:60%;
}

h1 {
    font-size: 6cqw;
    margin-bottom: 2em;
  }
  
  h2{
    font-size:5cqw;
    max-width: 25ch;
  }
  
  h3{
    font-size: 4cqw;
    max-width: 30ch;
  }
  
  @media(min-width:900px){
  
  h1 {
    font-size: 4cqw;
  }
  
  h2{
    font-size:3.5cqw;
  }
  
  h3{
    font-size: 3cqw;
  }}
  
